// Colors
// Brand
$brand-light: #59b2ff;
$brand-mid: #3487cf;
$brand-dark: #1d6fb6;
// Accent Colors
$purple: #b259ff;
$fuschia: #ff59f9;
$pink: #ff598b;
$orange: #ff8b59;
$yellow: #ffcd59;
$lime: #e1ff59;
$green: #59ff91;
$cyan: #59fff9;
$navy: #6a59ff;
// Feedback
$danger: #ff5959;
// Input
$input-base: #1c1f21;
$input-stroke: #363b40;
$input-placeholder: #869198;
// Shape
$shape-background: #131516;
$shape-body: #212427;
$shape-button: #2d3136;
$shape-hover: #383d42;
// Text
$text-body: #c8cdd0;
$text-heading: #f9f9f9;

// Typography
#logo {
    color: $pink;
    font-family: "Leckerli One", serif;
    font-size: 2.5rem;
}

.headingMd, .headingSm {
    font-family: "Baloo 2", serif;
    font-weight: 800;
}

.headingMd {
    font-size: 1.75rem;
}

.headingSm {
    font-size: 1.125rem;
}

.bodyMd {
    font-size: 1rem;
}

.bodySm {
    font-size: 0.875rem;
}

.bodyXs {
    font-size: 0.75rem;
}

// Global Styles
* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}